@charset "UTF-8";

body {
    margin: 0%; /*Sempre tirar as margens e reajustar cada parte com o padding*/ 
    background-color: rgba(0, 0, 0, 0.212);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    background-color: black;
    text-align: center;
    margin: 0%;
    padding: 10px;
    height: 150px;
}
header h1 {
    color: aliceblue;
    font-size: 45px;
}
header h2 {
    color: aliceblue;
    font-size: 15px;
}

header p {
    color: aliceblue;
    text-align: right;
    margin-top: -8px;
    font-size: 15px;
}
main p {
    font-size: 40px;
    line-height: 40px;
    margin: 15px 0px;
}
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.562);
}
a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 8px;
    padding: 5px;
    text-decoration: underline;
    transition: 0.8s;
}
section p {
    max-width: 800px;
    min-width: 300px;
}
.section1 {
    padding: 15px;
    height: 100vh;
    background-image: url(imagens/background002.jpg);
    margin: 0%;
    
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

}
.section1 p {
    color: rgb(0, 0, 0);
    background-color: rgba(128, 128, 128, 0.651);
    border-radius: 25px;
    padding: 20px;
}
.section2 {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    line-height: 35px;
    background-color: black;
}

.section2 p {
    color: antiquewhite;
    background-color: rgba(128, 128, 128, 0.274);
    border-radius: 25px;
    padding: 20px;
}
.section3 {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    line-height: 30px;

    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.section3 p {
    color: antiquewhite;
    background-color: rgba(128, 128, 128, 0.274);
    border-radius: 25px;
    padding: 20px;
}
.section4 {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    line-height: 35px;
    background-color: rgb(0, 0, 0)
}

.section4 p {
    color: antiquewhite;
    background-color: rgba(128, 128, 128, 0.274);
    border-radius: 25px;
    padding: 20px;
}
.section5 {
    border-radius: 5px;
    background-color: white;
    padding: 10px;    

    height: 100vh;
    background-image: url(imagens/pexels-mehmet-turgut-kirkgoz-14422910.jpg);
    margin: 0%;
    
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.section5 p {
    color: rgb(0, 0, 0);
    background-color: rgba(128, 128, 128, 0.651);
    border-radius: 25px;
    padding: 20px;
}
footer {
    background-color: black;
    font-size: 10px;
    text-align: center;
    color: white;
    padding: 1px;
    max-width: 1900px;
    min-width: 300px;
}