@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: dimgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header  {
    padding: 10px;
}
h1 {
    box-shadow: 3px 6px 20px black;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
}
article {
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}
article > aside {
    background-color: lightgray;
    padding: 10px;
}
nav {
    background-color:burlywood;
    padding: 10px;
    box-shadow: 2px 2px 16px black;
    border-radius: 35px;
    margin: 20px;
}
nav > a {
    text-decoration: none;
    color: rgb(73, 73, 59);
    font-weight: bold;
    margin-right: 20px;
    padding: 10px;
}
nav > a:hover {
    text-decoration: underline;
    color: black;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px;
}
