@media screen and (max-width: 1200px) {
    
    .logofacebook {
        background-image: url(../pacote-d013/imagens/logo-facebook.jpg);
        border-radius: 180%;
        
        position: absolute;
        left: 70%;
        top: 25%;
        transition: 0.5s;
    }
    .logogithub {
        display: inline;
        background-image: url(../pacote-d013/imagens/logo-github.jpg);
        border-radius: 180%;
        
        position: absolute;
        left: 85%;
        top: 25%;
        transition: 0.5s;
    }
    .logoinstagram {
        display: inline;
        background-image: url(../pacote-d013/imagens/logo-instagram.jpg);
        border-radius: 180%;
        
        position: absolute;
        left: 85%;
        top: 45%;
        transition: 0.5s;
    }
    .logotwitter {
        display: inline;
        background-image: url(../pacote-d013/imagens/logo-twitter.jpg);
        border-radius: 180%;
        
        position: absolute;
        left: 70%;
        top: 45%;
        transition: 0.5s;
    }
    .logoyoutube {
        display: inline;
        background-image: url(../pacote-d013/imagens/logo-youtube.jpg);
        border-radius: 180%;
        
        position: absolute;
        left: 85%;
        top: 65%;
        transition: 0.5s;
    }
    
    .home {    
        display: inline;
        background-image: url(../pacote-d013/imagens/logo-home.jpg);
        border-radius: 180%;
        position: absolute;
        left: 70%;
        top: 65%;
        transition: 0.5s;
    }
}