@charset  "UTF-8";
/*Versãpp Mobile First*/

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    height: 100vh;
}
body {
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
main {
    background-color: rgba(255, 255, 255, 0.356);
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    padding: 25px;
}
h1 {
    text-align: center;
    color: white;
    font-size: 3em;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.39);
}
img {
    display: block;
    margin: auto;
}
#phone { display: block;}
#tablet { display: none;}
#print { display: none;}
#pc { display: none;}
#tv { display: none;}
